/* AMPLIZ Classes */
.h-line-1 {
  height: 1px;
  background: #fcfcfc;
  width: 74%;
}
.flex-center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: Poppins;
  font-weight: 400;
}

.w-60 {
  width: 60%;
}

.btn-primary {
  background-color: var(--bs-primary);
}
:root {
  --bs-primary: #002d57 !important;
  --primary-dark: #1d1d1d;
  --text: #929292;
  --text-light: #fcfcfc;
}

p {
  color: var(--text);
  font-family: Poppins;
  font-size: 24px;
}
span {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-dark);
  font-family: "Poppins", sans-serif;
  font-weight: 600 !important;
}

h2 {
  font-size: 64px !important;
}

h3 {
  font-size: 48px !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
    padding-inline: 3rem;
  }
}

footer {
  background: var(--bs-primary);
  color: white;
}

.footer {
  padding-block: 40px;
}

.footer li {
  list-style: none;
}
.footer li a {
  text-decoration: none !important;
}

.footer .social-media {
  gap: 24px;
}

.footer .social-media i {
  color: white;
  font-size: 28px;
}

.upper-ftr-container {
  justify-content: center;
  align-items: center;
  gap: 145px;
  flex-wrap: nowrap !important;
}

.middle-ftr-container {
  gap: 145px;
}

.upper-ftr-container div {
  flex-shrink: unset !important;
}

.upper-ftr {
  gap: 32px;
}
.upper-ftr p {
  color: var(--text-light);
  font-size: 20px;
  font-weight: 300;
}

.upper-ftr__nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.upper-ftr__nav span {
  color: white;
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}

.upper-ftr__nav ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.upper-ftr__nav a {
  font-family: var(--popins-l);
  color: white;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  font-weight: 300;
}

.bottom-ftr {
  padding-top: 110px;
}

.bottom-ftr span {
  padding-top: 16px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.upper-ftr p {
  font-family: var(--popins-l) !important;
}

.social-media img {
  width: 32px;
  height: 32px;
}

.h-icon-box {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
}

.h-icon-box span {
  font-family: var(--popins-l) !important;
  font-size: 20px !important;
}

.newsteller {
  border-radius: 8px;
  background: var(--style-Light-Blue, #0577ab);
  display: flex;
  padding: 13px 13px 13px 25px;
  justify-content: start;
  align-items: center;
  gap: 39px;
}

.newsteller__input form {
  display: flex;
  height: 54px;
  padding: 4px 4px 4px 12px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: var(--style-Light, #fcfcfc);
}
.newsteller__input form input {
  width: auto;
  font-size: 14px;
  border: none;
}
.newsteller__input button {
  width: 35%;
  font-size: 14px;
  display: flex;
  height: 46px;
  padding: 11px 0px;
  justify-content: center;
  align-items: center;
  background-color: var(--bs-primary);
  font-size: 16px;
  font-family: var(--popins-r);
  color: white;
  border-radius: 8px;
}

.upper-ftr__right {
  gap: 85px;
}

.upper-ftr__right .row {
  row-gap: 56px;
}

.highlight {
  color: var(--bs-primary) !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0;
}

.navbar-nav .nav-item {
  display: flex;
  height: 80px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: rgba(252, 252, 252, 0.25);
  color: var(--primary-dark);
}
.navbar-nav .nav-item .nav-link {
  padding: 0;
}

.navbar-nav .nav-item.active .nav-link {
  color: white !important;
}

.navbar .logo-white {
  display: none;
}

.navbar-nav .nav-item.active {
  background: var(--bs-primary);
}

.login-btn {
  margin-inline-end: -8px;
}

.sign-up-btn {
  border-radius: 12px;
  border-color: unset;
}

.login-btn {
  color: var(--bs-primary);
  border: solid 1px var(--bs-primary);
  border-radius: 12px 0 0 12px;
  padding-inline-end: 36px;
  padding-inline-start: 24px;
}

.login-btn,
.sign-up-btn {
  padding-block: 10px;
}

.navbar {
  width: 100%;
  position: fixed !important;
  top: 0;
  z-index: 1000;
  transition: top 0.3s;
  right: 0;
  left: 0;
}

.navbar.hidden {
  top: -200px !important;
}
.navbar.header-bg {
  background-color: #044582;
}
.navbar.header-bg .nav-item {
  background-color: transparent;
}

.navbar.header-bg .nav-item a {
  background-color: transparent;
  color: white;
}
.navbar.header-bg .nav-item.active {
  background-color: var(--bs-primary) !important;
}
.navbar.header-bg .logo-white {
  display: block;
}
.navbar.header-bg .logo-dark {
  display: none;
}

.first-content {
  margin-top: 120px !important;
}
